.nav{
height: 75px;
display: grid;
grid-template-columns: 50% 10% 10% 10% 10% 10%  ;
background-color: #d1d1d1;
}


.link{
display: flex;
align-items:  center;
justify-content: center;
font-family: 'Oxygen', sans-serif;
padding: 5px;
font-size: 20px;
}

.left{
display: flex;
justify-content: flex-start;
align-items: center;
font-family: 'Oxygen', sans-serif;
font-size: 20px;
padding: 5px;
margin-left: 20px
}

a:hover {
  background-color: #d1d1d1;
  color: white;
}
