
.li-box {
  display: flex;
  justify-content: center;
}
.songBox {
  background-color: #d1d1d1;
  height: 150px;
  width: 810px;
  border: 5px black;
  border-style: solid;
  color: black;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 60% 40%;
}

.thumbnail {
  max-height: 100%;
  max-width: 100%;
}
.box-2 {
  display: grid;
  grid-template-columns: 50% 30% 20%;

  border: 2px black;
  border-style: solid;
  height: 50px;
  font-size: 25px;
}
.box-2:mybutton {
  padding-right: 90px;
}
.favorites {
  display: flex;
  justify-content: flex-end;
}
.myButton {
  height: 35px;
  width: 80px;
  background-color: #00f281;
  /* -moz-border-radius: 42px;
  -webkit-border-radius: 42px; */
  border-radius: 42px;
  /* display: inline-block; */
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2b665e;
}
.myButton:hover {
  background-color: #6c7c7c;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.box-3 {
  font-size: 15px;
}

.box-4 {
  display: flex;
  justify-content: center;
  border: 2px black;
  border-style: solid;
  height: 50px;
  width: 620px;
  position: relative;
  bottom: 37px;
  left: 24px;
  height: auto;
  overflow: scroll;
  word-wrap: normal;
}
.box-6 {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 500px;
  position: relative;
  bottom: 20px;
  left: 170px;


}

.inputComment {
  width: 300px;
  height: 15px;
  margin-right: 20px;
}
.submit-button {
  cursor: pointer;
  border-radius: 42px;
}
